$measure: 125ch;
$large: 2.5rem;
$medium: 1.5rem;

$font-size-smallest: 12px;
$font-size-small: 14px;
$font-size: 16px;
$font-size-medium: 18px;
$font-size-mediumer: 20px;
$font-size-mediumest: 24px;
$font-size-large: 32px;
$font-size-larger: 48px;
$font-size-largest: 60px;

$normal-font-weight: 400;
$bold-font-weight: 700;

$background-gradient: linear-gradient(to right, #171c27 0%, #1a1727 100%);

$primary: #3498db;
$primary-50: #ebf5fb;
$primary-100: #d6eaf8;
$primary-200: #aed6f1;
$primary-300: #85c1e9;
$primary-400: #5dade2;
$primary-500: $primary;
$primary-600: #2e86c1;
$primary-700: #2874a6;
$primary-800: #21618c;
$primary-900: #1b4f72;

$gray: #7f8c8d;
$gray-50: #f2f4f4;
$gray-100: #e5e8e8;
$gray-200: #ccd1d1;
$gray-300: #b2babb;
$gray-400: #99a3a4;
$gray-500: #7f8c8d;
$gray-600: #707b7c;
$gray-700: #616a6b;
$gray-800: #515a5a;
$gray-900: #424949;

$spacing-smallest: 4px;
$spacing-smaller: 8px;
$spacing-small: 16px;
$spacing: 16px;
$spacing-medium: 24px;
$spacing-mediumer: 32px;
$spacing-mediumest: 48px;
$spacing-large: 64px;
$spacing-larger: 96px;
$spacing-largest: 128px;
$spacing-xlarge: 192px;
$spacing-xlargeer: 256px;
$spacing-xlargest: 400px;
$spacing-xxlarge: 512px;
$spacing-xxlarger: 680px;
$spacing-xxlargest: 768px;


* {
    font-family: Apercu, "Source Sans Pro", system, system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
    font-weight: $normal-font-weight;
    color: $gray-100;
    box-sizing: border-box;
}

body {
    background: $background-gradient;
}

strong {
    font-weight: $bold-font-weight;
}

h1, h2 {
    font-size: $font-size-larger;
    max-width: $spacing-xxlargest;
    line-height: 5rem;
}

h3 {
    font-size: $font-size-mediumer;
}

p {
    color: $gray-500;
    font-size: $font-size;
}

.stack {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.stack>*+* {
    margin-block-start: $spacing-medium;
}

.center {
    margin-inline: auto;
    max-inline-size: $spacing-xxlargest;
    box-sizing: content-box;
}

.cover {
    display: flex;
    flex-direction: column;
}

.cover>* {
    margin-block: $spacing-larger;
}

.cover>:first-child:not(h2) {
    padding-block-start: $spacing-xlarge;
    margin-block-start: 0;
}

.cover>:last-child:not(h2) {
    padding-block-end: $spacing-xlarge;
    margin-block-end: 0;
}

.cover h2 {
    margin-block: 0;
}

.icon {
    display: inline-block;
    background-size: contain;
}

.cluster {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing;
    align-items: center;
    justify-content: space-between;
}

.grid {
    display: grid;
    grid-gap: $spacing;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    width: 100%;
}

.highlighted-link {
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    display: inline-block;
    padding: 2px 3px;
    text-decoration: none;
    box-shadow: inset 0 -3px 0 $primary;

    &:hover {
        box-shadow: inset 0 -33px 0 0 $primary;
        color: $gray-100;
    }
}

.primary>*+* {
    margin-block-start: $spacing-xlargeer;
}